body {
  margin: 0;
  background: #E5E5E5;
  padding: 0 15px;
}

.forms {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form-block {
  background: #FFFFFF;
  border-radius: 6px;
  max-width: 570px;
  height: 590px;
  padding: 35px 35px 16px;
}

.form-block__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.form-block__input-pair {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.form-block__label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  margin-bottom: 7px;
  color: #545454;
}

.form-block__input {
  width: 245px;
  height: 38px;
  box-sizing: border-box;
}